certifi==2019.9.11
Cython==0.29.24
Mako==1.1.4.dev0
Markdown @ file:///buildstream/freedesktop-sdk/components/python3-markdown.bst
meson @ file:///buildstream/freedesktop-sdk/components/meson.bst
pipenv==2018.11.26
Pygments==2.9.0.dev20210908
PyYAML==5.4.1
six==1.16.0
uritemplate==3.0.1
virtualenv==16.7.7
virtualenv-clone==0.5.3

Django~=3.2.4
djangorestframework~=3.12.4
python-dateutil~=2.8.2
icecream~=2.1.1